 * {font-family: 'Roboto Condensed', sans-serif;}

 #navb {background: rgb(34, 79, 130);}

 #cardc {background: rgb(163, 170, 178);}

 #container {text-align: center;}

 #personal {color: rgb(34, 79, 130); font-weight: bold;}